<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fitfeast">

    <!-- Internet needed for Gemini API + Food Images -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FitFeast">

        <!-- Splash Screen (Launcher Activity) -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <!-- Authentication -->
        <activity
            android:name=".LoginActivity"
            android:exported="false"/>

        <activity
            android:name=".SignupActivity"
            android:exported="false"/>

        <!-- User Setup -->
        <activity
            android:name=".OnboardingActivity"
            android:exported="false"/>

        <!-- Main App -->
        <activity
            android:name=".HomeActivity"
            android:exported="false"/>

        <!-- AI Diet Screen -->
        <activity
            android:name=".DietPlanActivity"
            android:exported="false"/>

        <activity android:name=".DieticianActivity"/>

        <activity android:name=".PhysicalActivityActivity"/>
        <activity android:name=".ProgressTrackingActivity"/>
        <activity android:name=".KnowledgeWallActivity"/>

    </application>

</manifest>